.slider{
    max-width: 100%;
    width: 100%;
    position: relative;

    &-line{
        width: auto;
        height: auto;
        display: flex;

        &--transition{
            transition: all 1s ease;
        }
    }

    &-btn{
        &:hover{
            cursor: pointer;
        }

        &--disable{
            display: none;
        }
    }
}

.scroll{
    width: 100%;
    border: 1px solid #cccccc00;
    overflow: hidden;

    transition: .4s ease;

    &:hover{
        border: 1px solid #cccccc;
    }

    &-thumb{
        background-color: #cccccc;
        height: 100%;
        width: 100%;

        &:hover{
            cursor: grab;
        }

        &--transition{
            transition: all 1s ease;
        }
    }
}